*{
    margin: 0px;
    padding: 0px;
    font-family: "poppins",sans-serif;
}
body{
   
    
   background-image: url(front.jpg) ;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrraper{
    width: 450px;
    height: 300px;
    background-color: rgba(11, 18, 225, 0.069);
    color: white;
   border-radius: 20px;
   padding: 30px 40px;
   border: 1px solid rgba(255, 255, 255, 0.31);


}.wrraper h1{
    font-size: 30px;
 margin-top: 5px;
    text-align: center;
    position: relative;
}
.input-1{
    margin-top: 20px;
    height: 50px;
    width: 100%;
    }
    .input-1 input{
    width: 100%;
    height: 100%;
  border: 0.5px solid white;
    border-radius: 40px;
    background: transparent;
    padding: 20px 45px 20px 20px;
    color: aliceblue;
}
.input-1 i{
    position: absolute;
right: 750px;
margin-top: 13px;
font-size: 25;
}
.input-1 ::placeholder{
    color: white;
    font-size: 15;
}
.check{
    margin-top: 15px;
    margin-left: 20px;
}
.c{
    margin-left: -15px;
}
.c a{

    color: rgb(13, 137, 239);
    margin-left: 175px;

}
.c input{
    margin-right: 5px;
    font-size: 2px;

}
.submit{
     height: 40px;
     width: 100%;
     margin-top: 10px;
     border-radius: 30px;
    font-size: large;
    border: 1px solid black;
    
    }
.last{
    text-align: center;
    margin-top: 7px;
    margin-left: 20px;
}.last a{
    color: rgb(13, 137, 239);

}
